/* header content */
.logo {
    width: 70%;
}
nav {
    width: 30%;
}
.logo img {
    width: 140px;
    height: 60px;
}
.header {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 99;
}
.top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

}
.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb_1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'KOTRA_BOLD-Bold';
}

/* main_img content */
.visualRoll {
    position: relative;
    width: 100%;
}
.viewImgList {
    position: relative;
    width: 100%;
}
.viewImgList li {
    text-align: center;
    /* height: 700px; */
}
.viewImgList li.imglist0 {
    position: relative;
    z-index: 50;
    background: url(../img/main_img_1.jpg) no-repeat;
    width: 100%;
    height: 700px;
}
.viewImgList li.imglist1 {
    position: absolute;
    z-index: 10;
    background: url(../img/main_img2_1.jpg) no-repeat;
    width: 100%;
    height: 700px;
    left: 0;
    top: 0;
}
.viewImgList li.imglist2 {
    position: absolute;
    z-index: 10;
    background: url(../img/main_img3_1.jpg) no-repeat;
    width: 100%;
    height: 700px;
    left: 0;
    top: 0;
}
.rollbtnArea {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 60px;
    z-index: 200;
}
.rollbtnArea .rollingbtn {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}
.rollbtnArea .rollingbtn li {
    display: inline-block;
    margin-right: 5px;
}
.rollbtnArea .rollingbtn li.butt0 {
    margin-left: 10px;
}
.rollbtnArea .rollingbtn li.rollplay {
    display: none;
}
.rollbtnArea .rollingbtn li a {
    vertical-align: top;
}

/* text_typing content */
.main_1 {
    width: 100%;
    height: 800px;
    line-height: 130px;
    position: relative;
    background-color: #F0F3FA;
    /* background-color: #eff2f8; */

}
.typeText {
    /* color: #a3b4c9; */
    color: #4a6397;
    font-size: 100px;
    font-weight: bold;
    font-family: 'TmonMonsori';
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.typeText::after {
    content: "|";
    animation: blink 1s step infinite;
    /* color: #a3b4c9; */
    color: #4a6397;
    font-weight: lighter;
}
@keyframes blink {
0% {
    opacity: 1;
}
49% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}

/* profile content */
.profile {
    width: 100%;
}
.profile_box {
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.profile_cont {
    display: flex;
    justify-content: center;
}
.profile_img {
    width: 400px;
    padding-top: 100px;
    /* margin-left: 200px; */
    position: relative;
}
.profile2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    opacity: 0;
    transition: opacity 1s linear;
    cursor: pointer;
}
.profile_img:hover .profile2 {
    opacity: 1;
}
.hover_me {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 455px;
    left: 50px;
    transform: rotate(60deg);
}
.blinking {
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -moz-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.profile_txt {
    padding-top: 90px;
    padding-left: 150px;
}
.profile_name {
    padding: 7px;
    font-size: 17px;
    font-family: 'TheJamsil5Bold';
    color: #fff;
    font-weight: 700;
    background-color: #4a6397;
    border: 1px solid #4a6397;
    border-radius: 10px;
}
.profile_sub {
    padding-left: 30px;
    font-size: 16px;
    font-family: 'TheJamsil5Bold';
    font-weight: 300;
    color: #333;
}
.profile_sub a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* 러닝메이트 content */
.back_box {
    width: 100%;
    height: 600px;
    position: relative
}
.back_wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.back {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: center center;
    background-image: url(../img/sky.png);
    background-repeat: no-repeat;
    transform: translateZ(0);
    will-change: transform;
  }
/* .back {
    width: 100%;
    height: 600px;
    background: url(../img/sky.png) no-repeat center fixed;
} */

/* team content */
.about {
    width: 100%;
}
.about_box {
    width: 100%;
    position: relative;
    padding: 150px 0 150px;
}
.album_box_txt, .about_box_txt {
    display: flex;
    justify-content: center;
}
.about_box_txt1 {
    color: #4a6397;
    background: linear-gradient(to top, #d6e4e5, transparent 80%);
    font-size: 60px;
    font-weight: bold;
    font-family: 'TmonMonsori';
    display: inline-block;
    position: relative;
}

/* .about_box_txt1::after, .sns_box_txt1::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 25px;
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #d6e4e5;
    background-color: #a3b4c9;
    opacity: 0.5;
  }
  .about_box_txt1:hover::after, .sns_box_txt1:hover::after {
    width: 100%;
    transition: 0.5s all;
  } */

.about_box_img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: center;
}
.about_img {
    width: 330px;
    height: 300px;
}
.about_img2, .about_img3 {
    width: 300px;
    height: 300px;
}
.about_img4 {
    width: 380px;
    height: 300px;
}
.banner_img {
    display: inline-block; /* 영역적용위해 사용 */
    /* width: 100%; height: 100%; */
    overflow: hidden;
    position: relative; /* absolute의 기본기준은 body로 처리 - 현재 요소로 기준변경 */
}
.banner_img .hover_text{
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute; /* 이미지와 겹치게 처리 */
    top: 0; 
    left: 0;
    color: #fff; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    font-family: 'TmonMonsori';
    opacity: 0; /* 처음엔 안보이고 */
    transition: 0.3s;
}
.banner_img:hover .hover_text, .banner_img:focus .hover_text {
    /* 마우스를 올리면 보이게 처리 */
    opacity: 1;
}

/* text_slide content */
.animated-title {
    font-size: 100px; 
    font-family: 'SBAggroB'; 
    /* font-weight:300;  */
    position: relative; 
    width: 100%;
    max-width:100%; 
    height: 150px; 
    padding: 100px 0 100px 0;
    /* margin-top: 10px;  */
    overflow-x: hidden; 
    /* overflow-y: hidden;  */
}
.animated-title .track {
    position: absolute; 
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite; 
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
.animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));
    }
}
mark {
    background-color: #a3b4c9;
    color: white;
}

/* album content */
.album_box {
    padding: 100px 0;
}
.album_box_img {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}
.album_box_txt {
    padding-bottom: 100px;
}
.ab_slide {
    /* width: 4260px; */
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}
.ab_slide.animated {
    transition: left 0.5s ease-out;
}
.ab_slide li:not(:last-child) {
    margin-right: 30px;
}
.controls {
    text-align: center;
    margin-top: 50px;
}
.controls span {
    background-color: #4a6397;
    border: 1px solid #4a6397;
    border-radius: 50px;
    color: #fff;
    padding: 10px 12px;
    margin: 0 10px;
    cursor: pointer;
}

/* footer content */
footer {
    width: 100%;
    height: 100px;
    /* background-color: #F0F3FA; */
    /* margin-top: 20px; */
}
.footer_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.footer_box p {
    /* color: #4a6397; */
    color: #fff;
    font-family: 'Pretendard-Regular';
}
.footer_box p:first-child {
    padding-bottom: 5px;
}

