/* laptop 버전 */
/* width 1023px ~ 1429px */
@media screen and (max-width : 1429px) and (min-width : 1024px) {
    .box_inner {
        width: 100%;
    }

    /* header content */
    .logo {
        width: 60%;
    }
    nav {
        width: 40%;
    }
    .logo img {
        width: 130px;
        height: 50px;
    }
    .gnb_1 {
        font-size: 16px;
    }
    .top {
        height: 60px;
        padding: 0 50px;
    }

    /* main_img_slide content */
    .viewImgList li.imglist0 {
        background: url(../img/main_img_1.jpg) no-repeat;
        height: 600px;
        background-size: 100% 100%;
    }
    .viewImgList li.imglist1 {
        background: url(../img/main_img2_1.jpg) no-repeat;
        height: 600px;
        background-size: 100% 100%;
    }
    .viewImgList li.imglist2 {
        background: url(../img/main_img3_1.jpg) no-repeat;
        height: 600px;
        background-size: 100% 100%;
    }

    /* text_typing content */
    .main_1 {
        height: 100vh;
        line-height: 100px;
    }
    .typeText {
        color: #4a6397;
        font-size: 75px;
        font-weight: bold;
        font-family: 'TmonMonsori';
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* team content */
    .about_box {
        padding: 100px 0 50px;
    }
    .about_img, .about_img2, .about_img3, .about_img4 {
        width: 400px;
    }
    /* album content */
    .album_box_img {
        width: 960px;
    }
}

/* Desktop 버전 */
/* width 1500px이상 */
@media screen and (min-width : 1500px) {
    .box_inner {
        width: 100%;
    }

    /* header content */
    .logo img {
        width: 140px;
        height: 60px;
    }
    .gnb_1 {
        font-size: 20px;
    }
    .top {
        height: 80px;
        padding: 0 100px;
    }

    /* main_img_slide content */
    .viewImgList li.imglist0 {
        background: url(../img/main_img.jpg) no-repeat;
        height: 800px;
        background-size: 100% 100%;
    }
    .viewImgList li.imglist1 {
        background: url(../img/main_img2.jpg) no-repeat;
        height: 800px;
        background-size: 100% 100%;
    }
    .viewImgList li.imglist2 {
        background: url(../img/main_img3.jpg) no-repeat;
        height: 800px;
        background-size: 100% 100%;
    }
    
    /* text_typing content */
    .main {
        height: 900px;
        line-height: 130px;
    }
}