/* 태플릿버전 */
/* width 768px ~ 1023px */
@media screen and (max-width : 1023px) and (min-width:768px) {
    .box_inner {
        width: 100%;
    }

    /* header content */
    .logo {
        width: 50%;
    }
    nav {
        width: 50%;
    }
    .logo img {
        width: 130px;
        height: 50px;
    }
    .gnb_1 {
        font-size: 16px;
    }
    .top {
        height: 60px;
        padding: 0 20px 0 50px;
    }

    /* main_img_slide content */
    .viewImgList li.imglist0 {
        background: url(../img/main_img_1.jpg) no-repeat;
        height: 500px;
        background-size: 100% 100%;
    }
    .viewImgList li.imglist1 {
        background: url(../img/main_img2_1.jpg) no-repeat;
        height: 500px;
        background-size: 100% 100%;
    }
    .viewImgList li.imglist2 {
        background: url(../img/main_img3_1.jpg) no-repeat;
        height: 500px;
        background-size: 100% 100%;
    }
    .rollbtnArea {
        bottom: 30px;
    }

    /* text_typing content */
    .main_1 {
        height: 500px;
        line-height: 80px;
    }
    .typeText {
        color: #4a6397;
        font-size: 55px;
        font-weight: bold;
        font-family: 'TmonMonsori';
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

     /* profile content */
    .profile_img {
        text-align: center;
    }
    .profile1, .profile2 {
        width: 100%;
        width: 300px;
        height: 300px;
        text-align: center;
    }
    .profile2 {
        margin-left: 50px;
    }
    .hover_me {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 380px;
        left: 100px;
        transform: rotate(60deg);
    }
    .profile_txt {
        padding-left: 30px;
        padding-right: 20px;
    }

    /* 러닝메이트 content */
    /* .back {
        width: 100%;
        height: 600px;
        background: url(../img/sky.png) no-repeat center;
    } */

    /* team content */
    .about_box {
        padding: 100px 0 100px;
    }
    .about_box_img {
        padding-top: 50px;
    }
    .about_img, .about_img2, .about_img3, .about_img4 {
        width: 350px;
    } 

    /* album content */
    .album_box_img {
        width: 660px;
    }
    .album_box_txt {
        padding-bottom: 70px;
    }
}